<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    {{>header}}
   <p>Welcome to Community support page</p> 
   <a href="/">Home Page</a><br><br>
   <h3>contact support at abc@help.com</h3>
    {{>footer}}
</body>
</html>